
/* ---- GLOBAL-STYLES ---- */

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #0B1316;
    --secondary-color: #153D4D;
    /* --planet-color: rgb(0, 32, 90);
    --planet-color-dark: rgb(0, 24, 70); */
    --offwhite: #edf0f0;
    --offwhite-faded: #edf0f0cb;
}

.material-icons {
    font-size: 36px;
}

body {
    position: relative;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--offwhite);
}

h1 {
    line-height: 1.46rem;
    font-weight: 200;
}

h4 {
    line-height: 3.42rem;
    font-weight: 300;
}

h2, i {
    text-shadow: var(--secondary-color) 3px 3px 3px;
}

/* ---- OOCSS ---- */

.grid {
    margin:0 0 10rem 0;

    height: 95vh;

    display: grid;
}

.center_text {
    text-align: center;
}

.sphere-shape {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 50%;
}

/* ---- CONTAINERS ---- */

.hero_container {

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: .4fr .2fr 1.5fr .1fr .1fr .2fr .2fr;
    row-gap: .2rem;
    grid-template-areas: 
    ". . . . ."
    ". hero hero hero ."
    ". . . . ."
    ". . title . ."
    ". bdytxt bdytxt bdytxt ."
    ". . endicon . ."
    ". . . . ."
    ;
}

.about_container {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: repeat(5, 1fr) ;
    row-gap: .2rem;
    grid-template-areas: 
    ". . ."
    ". title ."
    ". . ."
    ". abtdesc ."
    ". endicon ."
    ;
}

.projects_container {

    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: repeat(5, 1fr) ;
    row-gap: .2rem;
    grid-template-areas: 
    ". . ."
    ". title ."
    ". . ."
    ". . ."
    ". endicon ."
    ;
}

.contact_container {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: repeat(5, 1fr) ;
    row-gap: .2rem;
    grid-template-areas: 
    ". . ."
    ". title ."
    ". . ."
    ". . ."
    ". endicon ."
    ;
}

/* ---- ITEMS ---- */

.hero_item {
    grid-area: hero;
    z-index: 1;
    justify-self: center;
    
    text-align: center;   
}

.title {
    grid-area: title;
    z-index: 1;
}

.desc_bdy {
    grid-area: bdytxt;
    z-index: 1;

    line-height: 1.42rem;
}

.endicon {
    grid-area: endicon;
    z-index: 1;
}

.about_desc {
    grid-area: abtdesc;
    z-index: 1;
}

/* ---- WRAPPERS ---- */

.page_info {
    position: relative;
    top: -200vh;
    z-index: 1;

    max-width: 100vw;
}

/* ---- GENERAL ---- */

.fixed_background {
    position: fixed;
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: linear-gradient(var(--primary-color), var(--secondary-color));
}

.spacer {
    height: 50vh;
}

.planet_in_background {
    position: sticky;
    z-index: -1;
    top: 0;
    height: 150vh;
    overflow: hidden;
}

.planet {  
    position: absolute;
    top: 6vh; 
    width: 42vw;
    height: 42vw;
    min-width: 50rem;
    min-height: 50rem;
    overflow: hidden;
    border: .27rem solid #2f6078;
    box-shadow: inset .5rem .5rem .4rem rgba(0, 0, 0, 0.25), 0 0 2rem #327a9e;
}

.land {
    width: 300%;
    height: 100%;
    background: url(./res/earth-vector-bright.svg) 0 0 repeat / 50%;
}

.atmosphere { 
    position: absolute;
    top: 4vh;
    width: 44vw;
    height: 44vw;
    min-width: 53rem;
    min-height: 53rem;
    
    background: url(./res/clouds-vector.svg);
    opacity: .6;
}

.orbit {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    
    width: 51vw;
    height: 51vw;
    min-height: 65rem;
    min-width: 65rem;
    opacity: 0;
}

.ship {
    position: absolute;
    z-index: 1;
    left:50%;
    transform: translateX(-50%);
    
    width: 14rem;
    height: 6rem;
    background: url(./res/spaceship-dark.svg) no-repeat center;
}

.ship::after {
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    background: radial-gradient(#327a9e6b 5%, rgba(255, 255, 255, 0) 68%) ;
    content: "";
}

/* ---- ANIMATIONS ---- */

.rotate-land-animation {
    animation: rotate linear 210s infinite
}