@keyframes neonglow {
    0% {
        color: var(--offwhite-faded);
        text-shadow: 0;
    }
    100% {
        color: var(--offwhite);
        text-shadow: #FFF 0 0 10px, #228DFF 0 0 30px;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100%  {
        opacity: 1;
    }
}