@keyframes fadein {
    0% {
        opacity: 0;
    }
    100%  {
        opacity: 1;
    }
}

@keyframes neonglow {
    0% {
        color: var(--offwhite-faded);
        text-shadow: 0;
    }
    100% {
        color: var(--offwhite);
        text-shadow: #FFF 0 0 10px, #228DFF 0 0 30px;
    }
}

@keyframes rotate {
    0% {
        transform: translateX(-10%) scale(.9);
    }
    100% {
        transform: translateX(-60%) scale(.9);
    }
}

@keyframes wobble {
    0% {
        top: -3.2em;
    }
    20% {
        top: -2.9em;
    }
    60% {
        top: -2.9em;
    }
    80% {
        top: -3.2em;
    }
    100% {
        top: -3.2em;
    }
}

@keyframes phasein {
    0% {
        transform: rotate(-60deg) translateX(-55%) translateY(-55%);
    }
    100% {
        transform: rotate(0deg) translateX(-50%) translateY(-5%);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
